body{
}

.top {
    position:absolute;
    top:0;left:0; right:0;
    height: 7%;
    background-color: #005696;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #005696;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
	color: orange;
}


.imgBackground{
	position: absolute;
	left: 70%;
	background-color: #005696;
}

.itemImg img{
	position:absolute;
    left:2%; top: 10%; bottom: 0;
    width: 30%;
    height: auto;
}

.sold img{
	position: absolute;
	top: 15%;
	left: 2%;
	width: 30%;
	height: auto;
}

.description{
	position:absolute;
	left: 35%; 
	top: 10%;
}

.description button{
	margin-right: 1%;
	background-color: #005696;
	color: white;
}


